body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
header {
  float: left;
  width: 100%;
  background: #282828;
  padding: 1.1% 0;
  position: fixed;
  text-align: center;
  z-index: 2;
}
.list li {
  display: inline-block;
  margin-right: 0.6em;
}
.list a {
  text-decoration: none;
  color: #ffffff;
  line-height: 30px;
  padding: 0.6em 1em 0.6em 1em;
  border-radius: 8px;
  font-weight: 600;
  font-size: 100%;
  letter-spacing: 1px;
  transition: 0.8s;
}
.list a:hover {
  background: #383838;
}

/*_________________Top_________________________________*/

.top {
  padding-top: 15%;
  float: left;
  width: 100%;
}
.top img {
  border-radius: 50%;
  float: left;
  margin: 0 4% 10% 5%;
}
.top h1 {
  font-size: 3.25em;
  letter-spacing: -0.025em;
  color: #3e3e3e;
  margin-top: 1%;
  margin-bottom: 2%;
}
.top strong {
  font-weight: 700;
  color: #3e3e3e;
}
.top p {
  font-size: 1.5em;
  line-height: 1.75em;
  margin-bottom: 3em;
  color: #888;
  letter-spacing: 1px;
}
.top p a {
  color: #888;
  transition: 0.5s;
}
.top p a:hover {
  color: #43B3E0;
}
.btn {
  font-size: 1.5em;
  letter-spacing: -0.025em;
  padding: 1em 2.35em 1em 2.35em;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  border-radius: 8px;
  text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
  background: #328eb2;
  transition: 1s;
}
.btn:hover {
  background: #3fb7e6;
}

/*_____________________Work_________________________________*/

.work, .portfolio, .contact {
  float: left;
  width: 100%;
  background: url(images/bg.png) #fafafa;
  padding: 8em 0 11em 0;
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.work h2, .portfolio h2, .contact h2 {
  font-size: 2em;
  letter-spacing: -0.015em;
  font-weight: 700;
  text-align: center;
  color: #3e3e3e;
  margin-bottom: 0.75em;
}
.work p, .portfolio p, .contact p {
  font-size: 1.25em;
  text-shadow: 1px 1px 0px #fff;
  color: #888;
  text-align: center;
  margin-bottom: 3.5em;
  clear: left;
}
.work section, .portfolio section {
  width: 23.4%;
  float: left;
  padding: 3em 2em 3.5em 2em;
  background: #ffffff;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 4em;
}
.one {
  margin-left: 6%;
  margin-right: 2%;
}
.three {
  margin-left: 2%;
}
.work h3, .portfolio h3 {
  margin-bottom: 0.7em;
  font-size: 1.5em;
  letter-spacing: -0.015em;
  font-weight: 700;
  color: #3e3e3e;
}
.work span, .portfolio span {
  color: #888;
  line-height: 2em;
}
.fa-comments-o, .fa-camera-retro, .fa-thumbs-o-up {
  color: #EA8A95;
  margin-bottom: 2em;
}
.fa-comments-o::before, .fa-camera-retro::before, .fa-thumbs-o-up::before {
  font-size: 6em;
}

/*______________________Portfolio________________________*/

.portfolio {
  background: url(images/bg.png) #f4f4f4;
}
.portfolio section {
  padding: 0 0 2.5em 0;
  width: 28.5%;
}
.portfolio img {
  cursor: pointer;
  width: 100%;
}
.portfolio h3 {
  margin-top: 1.5em;
  transition: 0.5s;
  cursor: pointer;
}
.portfolio h3:hover {
  color: #43B3E0;
}

/*___________________Contact_______________________________*/

.contact {
  background: url(images/bg.png) #303030;
  padding: 5em 0 8em 0;
}
.contact h2 {
  color: #ffffff;
}
.contact p {
  color: #999;
  text-shadow: -1px -1px 0px #181818;
}
form {
  margin-left: 14em;
}
.contact input, textarea {
  margin-bottom: 1.5em;
  float: left;
  border: none;
  background: #282828;
  padding: 0.75em;
  font-size: 1em;
  border-radius: 8px;
  color: #bbb;
  font-family: 'Open Sans', sans-serif;
  line-height: 2em;
  box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025);
}
.name {
  width: 36.5%;
  margin-right: 1.6em;
}
.email {
  margin-left: 12em;
}
.sub, textarea, hr, .contact span, .icons {
  clear: left;
  float: left;
}
.sub, textarea {
  width: 77.5%;
}
::-webkit-input-placeholder {
  color: #414141;
}
.contact section {
  margin: 3.5em 2em 2em 27em;
  float: left;
}
.buttons a {
  margin-right: 2em;
  font-size: 1.1em;
  padding: 1.4em 2.35em 1.4em 2.35em;
  letter-spacing: 1px;
}
.btn1 {
  background: #3faad5;
}
.btn2 {
  background: #3e3e3e;
  box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2);
}
.btn2:hover {
  background: #474747;
}
hr {
  border: 0;
  border-top: solid 1px #444;
  border-top-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  margin: 7em 0 5em 14em;
  width: 67%;
}
.contact span {
  color: #ffffff;
  font-size: 1.6em;
  font-weight: 700;
  margin-left: 43%;
  margin-bottom: 1em;
}
.icons {
  margin-left: 33%;
  margin-bottom: -4em;
}
.icons li {
  display: inline-block;
  margin: 0.25em;
}
.fa-twitter, .fa-facebook, .fa-dribbble, .fa-linkedin, .fa-tumblr, .fa-google-plus, .fa-github {
  position: relative;
  color: #2E2E2E;
  box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
  background: #404040;
  border-radius: 6px;
  display: block;
  width: 48px;
  height: 48px;
  transition: 0.3s;
}
.fa-twitter:hover, .fa-facebook:hover, .fa-dribbble:hover, .fa-linkedin:hover, .fa-tumblr:hover, .fa-google-plus:hover, .fa-github:hover {
  -webkit-transform: translateX(-5px);
  transform: translateY(-5px);
}
.fa-twitter:hover {
  background: #2DAAE4;
}
.fa-facebook:hover {
  background: #3C5A98;
}
.fa-dribbble:hover {
  background: #C4376B;
}
.fa-linkedin:hover {
  background: #006599;
}
.fa-tumblr:hover {
  background: #51718A;
}
.fa-google-plus:hover {
  background: #DA2713;
}
.fa-github:hover {
  background: #FAFAFA;
}
.fa-twitter::before, .fa-facebook::before, .fa-dribbble::before, .fa-linkedin::before, .fa-tumblr::before, .fa-google-plus::before, .fa-github::before {
  line-height: 48px;
  font-size: 26px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
}
footer {
  clear: left;
  float: left;
  margin-left: 29%;
}
footer i {
  float: left;
  font-size: 0.9em;
  margin-top: 3em;
  color: #666;
  text-shadow: -1px -1px 0px #181818;
}
footer i:nth-child(2), footer i:last-child {
  border-left: solid 1px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.1);
  margin-left: 1em;
  padding-left: 1em;
}
footer a {
  color: #666;
  transition: 0.5s;
}
footer a:hover {
  color: #43B3E0;
}
